<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bw.fit.component.flow.mapper.FlowCoreMapper">

    <select id="getNowHandlers"  parameterType="TFlowExecuteDefinition" resultType="TFlowExecuteDefinition">
		select * from flowexecutedefinition a where 1=1 and a.processdefkey = #{processDefKey,jdbcType=VARCHAR}
		and a.taskdefkey = #{taskDefKey,jdbcType=VARCHAR}
		<if test="processId != ''.toString()">
			and processId = #{processId,jdbcType=VARCHAR}
		</if>
	</select>

	<select id="getById"  parameterType="String" resultType="TFlowExecuteDefinition">
			  select * from flowexecutedefinition a where a.id = #{id,jdbcType=VARCHAR}
	</select>

	<insert id="handledCurrentTask" parameterType="TCoFlowExecuteDefinition">
		insert into Coflowexecutedefinition(id,processDefkey,Processid,Taskdefkey,Taskid,Handler,Handletime,Handleopt,Remark,Nexttaskdefkey,formkey) values
		(#{id,jdbcType=VARCHAR},#{processDefKey,jdbcType=VARCHAR},#{processId,jdbcType=VARCHAR},
		#{taskDefKey,jdbcType=VARCHAR},#{taskId,jdbcType=VARCHAR},#{handler,jdbcType=VARCHAR},
		sysdate,#{handleOpt,jdbcType=VARCHAR},#{remark,jdbcType=VARCHAR},#{nextTaskDefKey,jdbcType=VARCHAR},#{formKey,jdbcType=VARCHAR})
	</insert>


</mapper>