<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bw.fit.component.form.mapper.FormMapper">

	<insert id="insert" parameterType="tForm">
		insert into t_form (id,formkey,htmlname,name,attr,attrtype,tabname,taborder,creator,createtime) values
		(#{id,jdbcType=VARCHAR},#{formKey,jdbcType=VARCHAR},#{htmlName,jdbcType=VARCHAR},#{name,jdbcType=VARCHAR},
		#{attr,jdbcType=VARCHAR},#{attrType,jdbcType=VARCHAR},#{tabName,jdbcType=VARCHAR},#{tabOrder,jdbcType=INTEGER},
		#{creator,jdbcType=VARCHAR},sysdate)
	</insert>

	<select id="getFormInfo" parameterType="String" resultType="tForm">
		select * from t_form a where a.formKey = #{formKey,jdbcType=VARCHAR} and isdeleted ='0'
	</select>

	<select id="getDistinctTabs" parameterType="String"  resultType="tForm">
	    select distinct tabname ,min(taborder),attrtype  from t_form a where a.formkey = #{formKey,jdbcType=VARCHAR} and isdeleted ='0' group by tabname,attrtype
	</select>




</mapper>