<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bw.fit.component.form.mapper.FormMapper">

	<insert id="insert" parameterType="tForm">
		insert into t_form (id,formkey,attr,tabtype,tabname,taborder,creator,createtime) values
		(#{id,jdbcType=VARCHAR},#{formKey,jdbcType=VARCHAR},
		#{attr,jdbcType=VARCHAR},#{tabType,jdbcType=VARCHAR},#{tabName,jdbcType=VARCHAR},#{tabOrder,jdbcType=INTEGER},
		#{creator,jdbcType=VARCHAR},sysdate)
	</insert>

	<select id="getFormInfo" parameterType="String" resultType="tForm">
		select * from t_form a where a.formKey = #{formKey,jdbcType=VARCHAR} and isdeleted ='0' order by taborder asc
	</select>






</mapper>