<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bw.fit.component.form.mapper.FormMapper">

	<insert id="insert" parameterType="tForm">
		insert into t_form (id,formkey,htmlname,name,attr,attrtype,tabname,taborder,creator,createtime) values
		(#{id,jdbcType=VARCHAR},#{formKey,jdbcType=VARCHAR},#{htmlName,jdbcType=VARCHAR},#{name,jdbcType=VARCHAR},
		#{attr,jdbcType=VARCHAR},#{attrType,jdbcType=VARCHAR},#{tabName,jdbcType=VARCHAR},#{tabOrder,jdbcType=INTEGER})
	</insert>


</mapper>