<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bw.fit.base.log.mapper.LogMapper">

    <insert id="insert" parameterType="tlog">
        insert into t_loginfo (id,result,creator,createtime,logtype,operatefunction,resourceid,ip,url,params)
        values (#{id,jdbcType=VARCHAR},#{result,jdbcType=VARCHAR},#{creator,jdbcType=VARCHAR},sysdate,
        #{logType,jdbcType=VARCHAR},#{operateFunction,jdbcType=VARCHAR},#{resourceId,jdbcType=VARCHAR},
        #{ip,jdbcType=VARCHAR},#{url,jdbcType=VARCHAR},#{params,jdbcType=CLOB} )
    </insert>

    <select id="selectAll" parameterType="tlog" resultType="tlog">
        select * from t_loginfo
    </select>

    <select id="get" parameterType="String" resultType="tlog">
        select * from t_loginfo a where a.id = #{id,jdbcType=VARCHAR}
    </select>

</mapper>