<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bw.fit.system.organization.mapper.OrganizationMapper">
    <!-- 获取组织信息 -->
    <select id="getOrganizations" parameterType="Organization" resultType="Organization">
        select a.*  from t_organization a
    </select>

</mapper>